html, body {
  background-color: rgb(212, 212, 212); 
  height: 100%;
}
#root, .page {
 height: 100%;
} 
.container {
  padding-bottom: 80px;  
  min-height: 100%;
}

.navbar {
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 83, 51)
}
.logo {
  width: 40px;
  margin-right: 10px;
}
.push {
  height: 5rem;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.jumbotron {
  margin-bottom: 1rem;
  color: #343a40;
  padding: 1rem;
}

.buttons {
 padding: 18px 10px;

}
.buttons button.my-btn {
  display: block;
  background-color: rgb(43, 83, 51);
}

.result {
padding-top: 25px;  
text-align: center;
}
.result p {
   margin: 0;
   font-size: 20px;
 
}

span.txt {
  margin-left: 5px;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: auto;
}

.flexAndCenter{
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.picked-cards {
  padding: 15px 10px;
}
.pokerCard {
  background-color: white;
  height: 60px;
  width: 35px;
  border-radius: 5px;
  border: solid 1px #343a40;
  margin: 3px;
  font-weight: 400;
  box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.28);
}

.cards-all {
  display: flex;
  width: 100%;
  border-radius: .3rem;
  padding: 1.5rem 0.7rem;
  margin-top: 1.5rem;
  background-color: #e9ecef;
  right: 0;
  left: 0;
}

.footer {
  display: flex;
  margin-top: -60px;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 83, 51); 
  height: 60px;
  width: 100%;
}

.text-muted {
  color: #9e9e9e!important;
}

/*---Media Queries --*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .pokerCard {
    height: 75px;
    width: 50px;
    font-size: 1.2rem;
  }
  .card-icon {
    width: 40px;
    height: 40px;
  }
  .cards-all {
  padding: 1.5rem 1.5rem;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .pokerCard {
    height: 85px;
    width: 55px;
  }
  .card-icon {
    width: 40px;
    height: 40px;
  }

  .jumbotron {
    margin-bottom: 1rem;
    padding: 1.5rem;
  }
  
  .jumbotron p {
      margin:5px
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  .pokerCard {
  height: 100px;
  width: 70px;
}
.card-icon {
  width: 45px;
  height: 45px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

