body {
    background-color: rgb(218, 218, 218)
}

.jumbotron {
    margin-top: 70px;
    margin-bottom: 1rem;
    color:#343a40;
    padding: 2rem;
}

.logo {
    width: 40px;
    margin-right: 10px

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons button.my-btn {
    margin-right: 5px;
    margin-left: 5px
}